body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}
#divHoldsSections {
    display: flex;
    flex-flow: row wrap;
    align-content: stretch;

}
header {
    background: #323e68;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}
nav {
    margin: 1rem 0;
}
nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 1rem;
}
section {
    padding: 2rem;
    border: 3px solid black;
    min-width: 350px;
}
footer {
    text-align: center;
    padding: 1rem;
    background: #333;
    color: #fff;
}
#funModeDiv {
    border: 1px solid black; 
    padding: 3px; 
    display: inline-block; 
    background-color: #ddd; 
    border-radius: 10px;
}
#labelForCheckbox {
    color: black;
}
